.donation-frequency {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.donation-options {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.donation-frequency-button {
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #bebebe;
  color: white;
  transition: background-color 0.3s;
}

.donation-frequency-button:hover,
.donation-frequency-button:focus {
  background-color: #0762ff;
}

.donation-frequency-button.active {
  background-color: #0762ff;
}

.donation-paragraph {
  display: block;
  text-align: center;
}

.monthly-options,
.yearly-options,
.one-time-options {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.donation-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  width: fit-content;
}

.donation-option-button {
  padding: 15px 25px;
  font-size: 20px;
  border: 2px solid #bebebe;
  border-radius: 10px;
  background-color: #f8f8f8;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 120px;
}

.donation-option-button:hover {
  background-color: #0762ff;
  color: white;
  border-color: #0762ff;
}

.donation-option-button.active {
  background-color: #0762ff;
  color: white;
}

.custom-amount-input {
  padding: 13px 20px;
  font-size: 20px;
  border: 2px solid #0762ff;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.custom-amount-input:focus {
  border-color: #004ad9;
  box-shadow: 0 0 5px #0762ff;
}

.custom-amount-input::-webkit-outer-spin-button,
.custom-amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
