body {
    background-color: #f7fbff;
    margin: 0;
    padding: 0;
}

.threearticle-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;


}



.BoxArticle {
    text-align: center;
    background-color: #7db5ea;
    border-radius: 10px;
    /* padding: 15px; */
    vertical-align: top;
}

 .AImage img {
  width: 100%;
  /* height: auto; */
  border-radius: 10px;
  /* display: block; */
  margin-bottom: 10px;
}

.BoxArticle p{
    font-size: 16px;
    padding: 20px;
} 

.BoxArticle:hover {
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 20px 50px #f7fbff(0.35,0); 
}